<h1 mat-dialog-title>Formulário de produtos</h1>

<div mat-dialog-content>
  <form [formGroup]="_fornecedorForm">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Nome</mat-label>
      <input formControlName="nome" matInput placeholder="Nome">
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Categoria</mat-label>
      <mat-select formControlName="categoria" placeholder="Categoria">
        <div *ngFor="let categoria of _listaDeCategorias">
          <mat-option value={{categoria.nome}}>{{categoria.nome}}</mat-option>
        </div>
      </mat-select>
    </mat-form-field>

  </form>
</div>

<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close="">Fechar</button>
  <button
    style="margin-left: 8px;"
    mat-raised-button color="primary"
    disabled="{{!_fornecedorForm.valid}}"
    (click)="addFornecedor()">
      {{ _acaoBtn }}
  </button>
</div>

