.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

#botoes-modal-confirmacao {
  text-align: right;
  padding-top: 60px;
}
