<h1 class="mt-3">Produtos</h1>

<div>
  <input class="form-control mb-3" type="text" name="barra-de-pesquisa" [(ngModel)]="filtro" placeholder="pesquise o produto aqui...">
</div>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Categoria</th>
      <th scope="col">Quantidade</th>
      <th scope="col">Fornecedor</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of _listaDeProd | filter: filtro">
      <th scope="row">{{item.id}}</th>
      <td>{{item.nome}}</td>
      <td>{{item.categoria}}</td>
      <td>{{item.quantidade}}</td>
      <td>{{item.fornecedor}}</td>
      <td>
        <div>
          <fa-icon [icon]="faTrashIcon" class="mr-4" role="button" (click)="deletarProd(item.id)"></fa-icon>
          <fa-icon [icon]="faPencilIcon" class="mr-4" role="button" (click)="editarProd(item.id)"></fa-icon>
          <fa-icon [icon]="faPlusIcon" role="button" (click)="solicitarCompraProdPorId(item.id)"></fa-icon>
        </div>
      </td>
    </tr>
  </tbody>
</table>
