<h1 mat-dialog-title>Novo usuário</h1>

<div mat-dialog-content>
  <form [formGroup]="_usuarioForm">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Nome</mat-label>
      <input formControlName="nomeCompleto" matInput placeholder="Nome">
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Username</mat-label>
      <input formControlName="username" matInput placeholder="Username">
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Senha</mat-label>
      <input formControlName="senha" matInput placeholder="Senha">
    </mat-form-field>

    <div appearance="outline" class="mat-form-field w-100">
      <mat-label class="pl-2 mr-2"><span>Admin</span></mat-label>
      <input type="checkbox" formControlName="isAdmin" >
    </div>

  </form>
</div>

<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close="">Fechar</button>
  <button
    style="margin-left: 8px;"
    mat-raised-button color="primary"
    disabled="{{!_usuarioForm.valid}}"
    (click)="salvarUsuario()">
      {{_acaoBtn}}
  </button>
</div>


