<div class="container">
  <h1 style="padding: 10px">Release 1.0</h1>

  <div class="body">
    <span class="titulo">Produtos</span>
    <ul class="lista">
      <li>Adicionada feature de adicionar Produto</li>
      <li>Adicionada feature de excluir Produto</li>
      <li>Adicionada feature de alterar Produto</li>
      <li>Adicionada barra de pesquisa de Produto</li>
    </ul>
    <span class="titulo">Compras</span>
    <ul class="lista">
      <li>Adicionada feature de excluir Compras</li>
      <li>Adicionada barra de pesquisa de Compras</li>
    </ul>
  </div>
</div>
