<nav class="navbar navbar-light bg-light d-flex justify-content-between">
  <a routerLink="/home">
    <fa-icon [icon]="faCubeIcon"></fa-icon>
  </a>

  <div class="">
    <ul class="list-group list-group-horizontal-sm">
      <a routerLink="/produtos" class="list-group-item list-group-item-action">
        <li class="list-group-item">Produtos</li>
      </a>
      <a routerLink="/compras" class="list-group-item list-group-item-action">
        <li class="list-group-item" (click)="inativaSolicitacaoCompraPorId()">Compras</li>
      </a>
    </ul>
  </div>

  <span class="">Controle de Estoque</span>
</nav>
